<template>
	<div>
		<span id="title">Trendspek Exam</span>

		<div id="parent-container">
			<div id="cesiumContainerOrig" :class="!displayOriginal ? 'hide' : 'default'"></div>
			<div id="cesiumContainer" :class="displayOriginal ? 'hide' : 'modified'"></div>
		</div>
		
		<div id="btn-cont">
			<button id="btn-switch" v-on:click="toggleView()">Show {{displayOriginal ? `modified` : `original`}}</button>
		</div>
	</div>
	
</template>

<script>

	import { 
		Cartesian3,
		Cartographic,
		Cesium3DTileset, 
		createWorldTerrain, 
		IonResource, 
		Matrix4,
		Viewer, 
		viewerCesiumNavigationMixin,
		GeometryInstance,
		Color,
		HeadingPitchRange,
		Math,
		PolylineArrowMaterialProperty,
	} from 'cesium';
	const {LON_LAT, URL, MODIFIED, ORIGINAL} = require('../js/constant/constant');

export default {
	
	name: 'CesiumViewer',
	data() {
		return {
			displayOriginal: false,
		}
	},
	mounted(){
		this.loadCesium(MODIFIED);
		this.loadCesium(ORIGINAL);
 	},

	methods: {
		toggleView(){
			this.displayOriginal = !this.displayOriginal;
		},
		loadCesium : (containerName) => {
			var viewer = new Viewer(containerName, {
				homeButton: false,
				timeline: false,
				animation: false,
				fullscreenButton: false,
				sceneModePicker: false,
				selectionIndicator: false,
				infoBox: false,
				navigationHelpButton: false,
				geocoder: false,
				scene3DOnly: true,
				selectionIndicator: false,
				skyBox : false,
				imageryProvider: false,
				// baseLayerPicker: false,
			});
			// Load Tileset for the Free-standing reservoir
			var tileset = new Cesium3DTileset({
				url: URL,
				dynamicScreenSpaceError : true,
				maximumScreenSpaceError: 1 // Lowering this number increases the detail
			});

			var self = this;

			tileset.readyPromise.then(function (tileset) {
				
				// Boilerplate code to move the tileset up so it lines up with the globe
				let tileset_offset = 40.0;
				const {longitude, latitude } = Cartographic.fromCartesian(tileset.boundingSphere.center);
				let surface = Cartesian3.fromRadians(longitude, latitude, 0.0);
				let offset = Cartesian3.fromRadians(longitude, latitude, tileset_offset);
				let translation = Cartesian3.subtract(offset, surface, new Cartesian3());
			
				tileset.modelMatrix = Matrix4.fromTranslation(translation);
				viewer.scene.primitives.add(tileset);

				if (containerName === ORIGINAL) {
					//Used tileset to display the original view.
					viewer.zoomTo(tileset);
				} else {
					//Drawline on road
					self.a.methods.drawlineOnLoad(viewer);

					//Zoom to target point.
					viewer.zoomTo(viewer.entities);

					//Call rotate function to move the camera in different angle.
					self.a.methods.rotateCamera(viewer, tileset);
				}
			});
		},

		// This function draw a line via plotting the list of longitude and latitude using Cartesian3.fromDegreesArray.
		// then point by point it draws a polyline.
		drawlineOnLoad: (viewer) => {
			return viewer.entities.add({
					name : 'point on surface with outline',
					polyline : {
						positions : Cartesian3.fromDegreesArray(LON_LAT),
						width : 30,
						material : new PolylineArrowMaterialProperty(Color.RED)
					}
				});
		},

		rotateCamera: (viewer, tileset) => {
			//The heading angle in radians.
			//For rotating the camera.
			const heading = 120;
			//The pitch angle in radians.
			//Tilting of the view up and down.
			const pitch = -40;
			//The distance from the center in meters
			//Most likely a zoom level in and out from the center.
			const range = 130.0;

			// Heading is the rotation from the local north direction where a positive angle is increasing eastward.
			viewer.flyTo(tileset, {
				duration: 2,
				offset: new HeadingPitchRange(Math.toRadians(heading), Math.toRadians(pitch), range)     
			}); 				
		},

		//Just ignore for the time being.
		//Function below does not use yet. But it works.
		//This can be used to draw lines using mouse event in the future.
		drawLine: (viewer) => {
			var latlon = [];
			viewer.entities.add({ id: 'mou', 
				label: {
					// position : Cesium.Cartesian2.ZERO, 
					show: true
				}
			});

			viewer.scene.canvas.addEventListener('mousemove', function(e) {
				var entity = viewer.entities.getById('mou');
				var ellipsoid = viewer.scene.globe.ellipsoid;
				// Mouse over the globe to see the cartographic position 
				var cartesian = viewer.camera.pickEllipsoid(new Cartesian3(e.clientX, e.clientY), ellipsoid);
				if (cartesian) {
					var cartographic = ellipsoid.cartesianToCartographic(cartesian);
					var longitudeString = Math.toDegrees(cartographic.longitude).toFixed(10);
					var latitudeString = Math.toDegrees(cartographic.latitude).toFixed(10);
					entity.position = cartesian;
					entity.label.show = true;
					entity.label.font_style = 84;
					//entity.position= Cesium.Cartesian2.ZERO; 
					// var result = latitudeString(45);
					entity.label.text = '(' + longitudeString + ', ' + latitudeString + ')';
					latlon.push(longitudeString);
					latlon.push(latitudeString);
				} else {
					entity.label.show = false;
				}
			});
		}
	}
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	div#parent-container{
		display: -webkit-flex;
		display: flex;
		flex-flow: row wrap;
		height: 100%;     /* full height of the content box */
  		min-height: 20em; /* Will be AT LEAST 20em tall */
	}
	div.hide {
		display: none;
	}
	div.default {
		height: 600px;
		width: 800px;
	}

	div.modified {
		margin: 0 auto;
		height: 45em;
		max-height: 45em; /* Will be UP TO 45em tall */
  		min-height: 10em; /* Will be AT LEAST 10em tall */
		width: 85%;
	}

	span#title {
		margin: .5em 0 .2em;
		font-size: 2.8rem;
		font-weight: 700;
	}

	button#btn-switch {
		margin: 0 auto;
		box-sizing: border-box;
		appearance: none;
		background-color: transparent;
		border: 2px solid #e74c3c;
		border-radius: 0.6em;
		color: #e74c3c;
		cursor: pointer;
		display: flex;
		align-self: center;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1;
		margin: 15px;
		padding: 0.8em 2.2em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		border-color: #3498db;
		color: #fff;
		box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
		transition: all 150ms ease-in-out;
	}

	div#btn-cont {
		display: flex;
  		align-items: center;
  		justify-content: center;
	}
</style>
